<!DOCTYPE html>
<html>
<head>
	{block head}
	<meta charset="utf-8">

	<title>{ifset #title}{include title|striptags} | {/ifset}Nette Sandbox</title>

	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/screen.css">
	<link rel="stylesheet" media="print" href="{$basePath}/css/print.css">
	<link rel="stylesheet" href="{$basePath}/multiple_load.php?phase=css_main&amp;version=1">
	<link rel="shortcut icon" href="{$basePath}/favicon.ico">
	{block scripts}
		<script src="{$basePath}/multiple_load.php?phase=js_main&amp;version=1" type="text/javascript"></script>
		<script type="text/javascript">
		$(document).ready(function()
		{
			$('input.datetimepicker').datetimepicker(
			{
				lang:'cs',
				format:'d.m.Y H:i',
				validateOnBlur: false
			});
		});
		</script>
	{/block}
	{/block}
</head>

<body>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

	{include content}

</div>
</body>
</html>
